.section {
  font-size: 15px;
  padding: 4px;
  display: flex;
  text-align: middle;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.section div {
  display: flex;
  align-items: center;
}

.item1 {
  width: 5%;
}
.item1 input{
  width: 16px;
  height: 16px;
}
.item2 {
  width: 13%;
}
.item3 {
  width: 27%;
}
.item4 {
  width: 14%;
}
.item5 {
  width: 10%;
}
.item6 {
  width: 7%;
}
.item7 {
  width: 20%;
}