.dropdownSection {
  background-color: white;
  left: -1px;
  top: 44px;
  border: 1px solid gray;
  position: absolute;
  width: 1200px;
  height: 300px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.3);
}

.dropdownSection div {
  width: 15%;
  height: 260px;
  border-right: 1px solid rgb(215, 215, 215);
  display: block;
  text-align: center;
  margin-top: 20px;
}

.dropdownSection div .cateTag {
  color: rgb(37, 103, 150);
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 5px;
}

.dropdownSection p {
  width: 100%;
  color: black;
  margin-bottom: 18px;
}
.dropdownSection p:active {
  width: 100%;
  color: #206fee;
  margin-bottom: 18px;
}