.section {
    font-size: 15px;
    padding: 8px;
    display: flex;
    text-align: middle;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.section div {
    display: flex;
    align-items: center;
}

.item1 {
    width: 10%;
}
.item2 {
    width: 30%;
}
.item3 {
    width: 10%;
}
.item4 {
    width: 10%;
}
.item5 {
    width: 12%;
}
.item6 {
    width: 24%;
}
.item7 {
    width: 4%;
}
.item7 img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 6px;
}