.section {
    font-size: 15px;
    padding: 8px;
    display: flex;
    text-align: middle;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.section div {
    display: flex;
    align-items: center;
}

.item1 {
    width: 120px;
}
.item2 {
    width: 380px;
}
.item3 {
    width: 120px;
}
.item4 {
    width: 120px;
}
.item5 {
    width: 230px;
}
.item6 {
    width: 310px;
}
.item7 {
    width: 20px;
}
.item7 img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 6px;
}