.section {
    color: white;
    background-color: rgb(40, 60, 90);
    font-size: 15px;
    padding: 8px;
    display: flex;
    text-align: middle;
}

.section div {
    display: flex;
    align-items: center;
}

.item1 {
    width: 10%;
}
.item2 {
    width: 30%;
}
.item3 {
    width: 7%;
}
.item4 {
    width: 10%;
}
.item5 {
    width: 12%;
}
.item6 {
    width: 8%;
}
.item7 {
    width: 12%;
}
.item8 {
    width: 11%;
}