.section {
    font-size: 15px;
    padding: 7px;
    display: flex;
    text-align: middle;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.section div {
    display: flex;
    align-items: center;
}

.item1 {
    width: 5%;
}
.item1 input{
    width: 16px;
    height: 16px;
}
.item2 {
    width: 10%;
}
.item3 {
    width: 34%;
}
.item4 {
    width: 5%;
}
.item5 {
    width: 10%;
}
.item6 {
    width: 13%;
}
.item7 {
    width: 15%;
}
.item8 {
    width: 8%;
}