.section {
  color: white;
  background-color: #25324f;
  font-size: 15px;
  padding: 8px;
  display: flex;
  text-align: middle;
}

.section div {
  display: flex;
  align-items: center;
}

.item1 {
  width: 100px;
}
.item2 {
  width: 380px;
}
.item3 {
  width: 170px;
}
.item4 {
  width: 110px;
}
.item5 {
  width: 80px;
}
.item6 {
  width: 200px;
}
.item7 {
  width: 130px;
}