
.section {
  font-size: 15px;
  padding: 8px;
  display: flex;
  text-align: middle;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.section div {
  display: flex;
  align-items: center;
}


.item1 {
  width: 8%;
}
.item2 {
  width: 15%;
}
.item3 {
  width: 15%;
}
.item4 {
  width: 20%;
}
.item5 {
  width: 18%;
}
.item6 {
  width: 22%;
}
.item7 {
  width: 2%;
}
.item7 img {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}