.section {
  color: white;
  background-color: #25324f;
  font-size: 15px;
  padding: 8px;
  display: flex;
  text-align: middle;
}

.section div {
  display: flex;
  align-items: center;
}

.item1 {
  width: 8%;
}
.item2 {
  width: 15%;
}
.item3 {
  width: 15%;
}
.item4 {
  width: 20%;
}
.item5 {
  width: 18%;
}
.item6 {
  width: 20%;
}