
.productContainer{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  width: 1100px;
  margin-left: 50px;
  margin-right: 50px;
}
.productWrap{
  width: 25%;
  height: 100%;
}

.productImgDiv{
  text-align: center;
}
.productImg{
  max-width: 90%;
  max-height: 100%;
  border: 1px solid rgb(194, 194, 194);
}

.productTitle{
  font-size : 19px;
  font-weight: 600;
  margin : 4%;
}
.productPrice{
  font-size : 1rem;
  margin : 2% 3% 1% 4%;
}