.mypgSection {
  background-color: rgb(255, 255, 255);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  border-left: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
}

.menuWrap {
  width: 220px;
  height: 700px;
  border-right: 1px solid rgb(180, 180, 180);
}

.menuWrap h1 {
  height: 24px;
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.menuWrap div {
  color: black;
  height: 40px;
  font-size: 16px;
  margin-top: 5px;
  padding: 0px 10px;
  line-height: 40px;
}

.mypgWrap {
  width: 920px;
  padding: 30px;
}

.mypgWrap p {
  margin-bottom: 5px;
}

.mypgWrap .mypgHeader {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

