.cartItemDiv {
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 8px 30px;
  display: flex;
  align-items: center;
}

.cartItemTag1 {
  width: 15%;
}
.cartItemTag2 {
  width: 55%;
  display: flex;
  align-items: center;
}
.cartItemTag2 .imgWrap {
  border: 1px solid rgb(180, 180, 180);
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.cartItemTag2 .imgWrap img {
  width: 100%;
  height: 100%;
}
.cartItemTag3 {
  width: 15%;
}
.cartItemTag3 input {
  width: 30px;
}
.cartItemTag3 button {
  width: 20px;
  height: 21px;
}
.cartItemTag4 {
  width: 12%;
}
.cartItemTag5 {
  width: 3%;
}
.cartItemTag5 button{
  color: grey;
  font-size: 18px;
  background-color: white;
  border: 0;
}