

.header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 235px;
  position: relative;
}

.topMenu {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 20px;
  margin: 0 auto;
}

.topMenu h1 {
  color: black;
  font-size: 14px;
  margin-left: 15px;
}

.logoSection {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
}

.logoSection img {
  width: 175px;
  height: 100px;
  margin-top: 30px;
}

.inputSection {
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  text-align: end;
}

.inputSection input {
  width: 200px;
  height: 10px;
  border: 3px solid #25324f;
  border-radius: 14px;
  padding: 11px 22px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 905px;
}

.inputSection input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #777683;
}

.inputSection .searchBtn {
  background-color: #25324f;
  width: 38px;
  height: 38px;
  border-radius: 12px;
  margin-left: 5px;
  border: 0px;
}

.inputSection .searchBtn img {
  width: 22px;
  height: 22px;
}

.menuWrap {
  display: flex;
  background-color: #25324f;
  width: 100%;
  height: 45px;
}

.menu {
  background-color: #25324f;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.menu .allCategoryWrap {
  position: absolute;
  width: 120px;
  height: 44px;
}

.menu .allCategoryWrap img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  position: absolute;
  top: 4px;
}

.menu .allCategoryWrap .allCategory {
  font-size: 16px;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 42px;
  top: 13px;
  cursor: default;
}

.menu .categoryWrap {
  width: 550px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  position: absolute;
  justify-content: space-around;
}

.menu .categoryWrap span {
  width: 80px;
  height: 44px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.menu .avatarBtnWrap {
  margin-left: 1055px;
}
.menu .avatarBtnWrap button {
  font-weight: bold;
  background-image: linear-gradient(90deg, #89d6f5 0%, #8877e7 74%);
  border-radius: 20px;
  border: 0;
  padding: 6px 20px;
  width: 140px;
  font-size: 15px;
}
