
.productContainer{
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  width: 1100px;
  margin-left: 50px;
  margin-right: 50px;
}
.productWrap{
  width: 25%;
  margin-bottom: 30px;
}

.productImgDiv {
  width: 100%;
  height: 242px;
  text-align: center;
}

.productImgWrap{
  width: 240px;
  height: 240px;
  border: 1px solid rgb(180, 180, 180);
  margin-left: 16px;
}
.productImgWrap:hover {
  width: 240px;
  height: 240px;
  border: 1px solid #206fee;
  margin-left: 16px;
}

.productImgDiv img{
  width: 100%;
  height: 100%;
}

.productTitle{
  color: black;
  font-size : 18px;
  font-weight: 600;
  margin : 4% 6%;
}
.productTitle:hover {
  color: #206fee;
  font-size : 18px;
  font-weight: 600;
  margin : 4% 6%;
}

.productPrice{
  font-size : 17px;
  margin : 2% 3% 1% 6%;
}

.noResult {
  font-size: 22px;
  text-align: center;
  padding-top: 30px;
  width: 100%;
  height: 350px;
}