.orderHisDiv {
  align-items: center;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(179, 179, 179);
  font-size: 14px;
}

.orderHisDiv img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid rgb(194, 194, 194);
}

.orderHisDiv p {
  font-size: 14px;
}

.orderHisDiv .orderDate {
  width: 12%;
}

.orderHisDiv .orderNum {
  width: 12%;
}

.orderHisDiv .orderProd {
  width: 48%;
  display: flex;
  align-items: center;
}
.orderHisDiv .orderProd .imgWrap {
   width: 60px;
  height: 60px;
  margin-right: 10px;
 }
.orderHisDiv .orderProd .imgWrap img {
  width: 100%;
  height: 100%;
}

.orderHisDiv .orderPay {
  width: 17%;
}

.orderHisDiv .orderState {
  width: 11%;
}