.putItemDiv {
  align-items: center;
  display: flex;
  padding: 15px 10px;
  border-top: 1px solid gray;
}

.putItemDiv p {
  font-size: 15px;
  margin-right: 20px;
}

.putItemDiv .nameDiv {
  width: 55%;
}

.putItemDiv .quantDiv {
  width: 20%;
  text-align: center;
}

.putItemDiv .quantDiv input {
  width: 28px;
}

.putItemDiv .quantDiv button {
  width: 21px;
  height: 21px;
}

.putItemDiv .priceDiv {
  width: 25%;
  text-align: center;
}