.adminHeader {
  height: 120px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.adminHeader img {
  width: 140px;
  height: 80px;
  margin-left: 40px;
  margin-top: 20px;
}

.adminHeader p {
  color: #545454;
  font-size: 17px;
  font-weight: bold;
  margin-left: 182px;
  margin-top: -22px;
}

.adminSection {
  width: 1600px;
  display: flex;
}

.adminMenu {
  width: 300px;
  border-right: 1px solid rgb(180, 180, 180);
}

.adminMenu .adminInfoWrap {
  background-color: #25324f;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.adminMenu .adminInfoWrap h3 {
  font-size: 17px;
  color: white;
  margin-left: 12px;
}

.adminMenu .adminInfoWrap img {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 13px;
  cursor: pointer;
}

.adminMenu .menuDiv {
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 10px;
  color: black;
}





.adminWorkSpace {
  display: block;
  padding: 20px;
}

.adminWorkSpace .workHeader {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px
}

.adminWorkSpace .searchWrap {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}

.adminWorkSpace .searchWrap input {
  width: 200px;
  height: 22px;
  margin-right: 5px;
}

.adminWorkSpace .searchWrap button {
  color: white;
  background-color: #25324f;
  padding: 4px 20px;
}

.adminWorkSpace .workWrap {
  border: 1px solid #25324f;
  width: 1200px;
  height: 600px;
  overflow: auto;
}

.adminWorkSpace .deleteBtn {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.adminWorkSpace .deleteBtn button {
  background-color: #25324f;
  color: white;
  padding: 4px 15px;
  margin-left: 5px;
}

