.productShowSection {
  background-color: rgb(255, 255, 255);
  width: 1200px;
  margin: 0 auto;
  position: block;
  padding-bottom: 10%;
  border-left: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
}

.categoryHeader {
  font-size: 28px;
  font-weight: bold;
  color: rgb(26, 120, 207);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryWrap {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.categoryWrap div {
  color: black;
  font-size: 19px;
  width: 80px;
  height: 22px;
  border-right: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}