.signupSection {
  width: 1200px;
  height: 900px;
  padding-bottom: 10%;
  margin: 0 auto;
  display: block;
  justify-content: center;
  border-left: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
}

.signupSection .signupHeader {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  line-height: 100px;
  border-bottom: 2px solid #444444;
  margin-bottom: 10px;
}

.signupSection .userInfo {
  width: 600px;
  height: 900px;
  justify-content: center;
  line-height: 40px;
  margin: 0 auto;
}

.signupBtnWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.signupBtnWrap button {
  background-color: #25345b;
  color: white;
  font-size: 15px;
  width: 120px;
  height: 36px;
  margin: 10px;
  border-width: 1px;
}

.signupSection .userInfo .userInfoHeader {
  font-size: 20px;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.signupSection .userInfo .userInfoHeader h1 {
  vertical-align: middle;
}

.signupSection .userInfo .userInfoTags {
  font-size: 17px;
  width: 150px;
  height: 430px;
  float: left;
  text-align: end;
  margin-right: 50px;
}

.signupSection .userInfo .userInfoWrap {
  width: 400px;
  height: 430px;
  float: left;
}

.signupSection .userInfo .userInfoWrap div{
  width: 400px;
  height: 40px;
  display: inline-block;
}

.signupSection .userInfo .userInfoWrap div input{
  width: 300px;
  height: 25px;
  font-size: 15px;
  display: inline-block;
  margin: 3px;
  padding: 2px 10px;
}

.signupSection .userInfo .userInfoWrap div input::placeholder{
  font-size: 14px;
}

.signupSection .userInfo .userInfoWrap div .radioInput{
  width: 17px;
  height: 17px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
}

.signupSection .userInfo .userInfoWrap div .shortInput{
  width: 210px;
  height: 25px;
  display: inline-block;
  margin: 3px;
}

.signupSection .userInfo .userInfoWrap div h1 {
  font-size: 14px;
}

.signupSection .userInfo .userInfoWrap div button{
  background-color: white;
  border-width: 1px;
  width: 80px;
  height: 32px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
  vertical-align: middle;
}
